<div class="mj-member-event-single__schedule-box mj-member-event-single__schedule-box--range">
    {% if summary %}
        <p class="mj-member-event-single__schedule-summary">{{ summary }}</p>
    {% endif %}

    {% if date_range_label %}
        <p class="mj-member-event-single__schedule-primary">{{ date_range_label }}</p>
    {% elseif primary_label %}
        <p class="mj-member-event-single__schedule-primary">{{ primary_label }}</p>
    {% endif %}

    {% if next_occurrence_label %}
        <p class="mj-member-event-single__schedule-next">{{ next_occurrence_label }}</p>
    {% endif %}
</div>
