<div class="mj-schedule mj-schedule--range">
    {% if summary %}
        <p class="mj-schedule__summary">{{ summary }}</p>
    {% endif %}

    {% if date_range_label %}
        <p class="mj-schedule__primary">{{ date_range_label }}</p>
    {% elseif primary_label %}
        <p class="mj-schedule__primary">{{ primary_label }}</p>
    {% endif %}

    {% if next_occurrence_label %}
        <p class="mj-schedule__next">{{ next_occurrence_label }}</p>
    {% endif %}
</div>
